<h2>{{title}}</h2>

<p>Añadir marca</p>
<p>
  <input type="text" [(ngModel)]="mi_marca" (keyup.enter)="mostrarPalabra()">
  <button (click)="getMarca()">Mostrar Marca</button>
  <button (click)="addMarca()">Añadir Marca</button>
</p>
<strong>{{mi_marca}}</strong>

<p>{{slogan}}</p>
<ul>
  <li *ngFor="let marca of marcas; let indice  = index">
    {{(indice + 1) + ' ' +  marca}}
    <button (click)="borrarMarca(indice)">Borrar marca</button>
  </li>
</ul>
<p>Los Tenis deportivos disponibles son: </p>

<ul>
  <li *ngFor="let tenis of zapatos">
    <span [ngStyle]="{
      'text-decoration' : !tenis.stock ? 'line-through': 'none'
    }">
      {{tenis.nombre}} - 
      <strong 
        [class.altoPrecio]="tenis.precio >= 80"
        [ngClass]="{
          'fondoRojo' : tenis.precio >= 100,
          'subrayado' : tenis.marca == 'Adidas' 
        }">
        {{'$'+ tenis.precio}}
      </strong>
    </span>
      <span *ngIf="tenis.precio <= 60" 
        [style.background]="tenis.precio <= 60 ? 'green' : 'transparent'"
        [style.color]="tenis.precio <= 60 ? 'white' : 'transparent'">¡EN OFERTA!</span>
  </li>
</ul>

<p>El color de la mayoria de nuestros tenis es: </p>
<input type="text" [(ngModel)]="color">
<ul [ngSwitch]="color">
  <li *ngSwitchCase="'yellow'">
    El color predominante es el color <span [ngStyle]="{'background': color}">amarillo</span>.
  </li>
  <li *ngSwitchCase="'black'">
    El color predominante es el color <span [ngStyle]="{'background': color}">negro</span>.
  </li>
  <li *ngSwitchCase="'red'">
    El color predominante es el color <span [ngStyle]="{'background': color}">rojo</span>.
  </li>
  <li *ngSwitchCase="'white'">
    El color predominante es el color <span [ngStyle]="{'background': color}">blanco</span>.
  </li>
  <li *ngSwitchCase="'blue'">
    El color predominante es el color <span [ngStyle]="{'background': color}">azul</span>.
  </li>
</ul>
