<h2>Contacto</h2>

<form #formContacto="ngForm" (ngSubmit)="onSubmit()">
    <label for="nombre">Nombre</label><br>
    <input name="nombre" type="text" #nombre="ngModel" [(ngModel)]="c_usuario.nombre"><br>

    <label for="apellidos">Apellidos</label><br>
    <input name="apellidos" type="text" #apellidos="ngModel" [(ngModel)]="c_usuario.apellidos"><br>

    <label for="email">Email</label><br>
    <input name="email" type="text" #email="ngModel" [(ngModel)]="c_usuario.email"><br>

    <label for="mensaje">Mensaje</label><br>
    <textarea name="mensaje" #mensaje="ngModel" [(ngModel)]="c_usuario.mensaje"></textarea><br>

    <input type="submit" value="Enviar">
</form>